body{
  background-color: rgb(16, 16, 16);
  color:white;
}
.flexcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexcol{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}

.messagebox li{
  list-style: none;
}
